@font-face {
    font-family: 'Work Sans';
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
    font-size: 16px;
    /* 400, 600, 700 */
}

/* 
- White: hsl(0, 0%, 100%)
- Light pink: hsl(275, 100%, 97%)
- Grayish purple: hsl(292, 16%, 49%)
- Dark purple: hsl(292, 42%, 14%) 
*/

/* 
- Mobile: 375px
- Desktop: 1440px
 */

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans';
    background-color: hsl(275, 100%, 97%);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding-top: 1.4rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
    max-width: 70%;
}

hr {
    width: 93%;
    margin-left: 0;
    border: solid .1rem hsla(293, 16%, 49%, 0.11);
}

section {
    margin: 1.2rem .3rem 1.5rem 1.5rem;
}

section:last-of-type {
    padding-bottom: 1rem;
}

p {
    font-size: .9rem;
    padding-bottom: 1rem;
    padding-right: .1rem;
    line-height: 1.3rem;
    color: hsl(292, 16%, 49%);
    width: 93%;
}

.accordionBtn {
    font-family: 'Work Sans';
    width: 95%;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.active,
.accordionBtn:hover {
    color: hsl(290, 100%, 42%);
    text-shadow: 1px 0px 18px rgba(26, 26, 26, 0.11);
}

.accordion:after {
    font-size: 13px;
    float: right;
    margin-left: 5px;
}

.panel {
    display: none;
    overflow: hidden;
}

.banner {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
}

.starImg {
    max-height: 1.5rem;
    padding: 0;
    margin: 0;
}

.plusImg {
    max-height: 2rem;
    padding: 0;
    margin: 0;
}

.card {
    border-radius: .5rem;
    background-color: hsl(0, 0%, 100%);
    max-width: 88%;
    margin: auto;
}

.inlineB {
    display: inline-block;
}

.right {
    display: flex;
    margin: auto 0 auto auto;

}

.head {
    margin-bottom: 0;
}